@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

nav{
    height: 80px;
    width: 100%;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    position: sticky;
    top: 0;
    z-index: 999;
}

label.logo{
    font-size: 32px;
    font-weight: bold;
    color:#0779e4;
    padding: 0 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
    line-height: 80px;
}

nav ul a{
    color: #0779e4;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    padding: 7px 10px;
    border-bottom: 2px solid transparent;
}

nav ul a:hover{
    border-bottom: 2px solid #0779e4;
    transition: 0.5s;
}

nav #icon{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.bars{
    background: #0779e4 ;
    display: inline-block;
    height: 4px;
    position: relative;
    width: 24px;
    transition: 0.5s;
}
.bars::before,.bars::after{
    background: #0779e4;
    content: '';
    display: inline-block;
    height: 4px;
    position: absolute;
    width: 24px;
    transition: 0.5s;
}
.bars::before{
    top: 8px;
}
.bars::after{
    top: -8px;
}

#icon.close .bars{
    background: rgba(0, 0, 0, 0);
}
#icon.close .bars::before{
    top: 0;
    transform: rotate(45deg);
}
#icon.close .bars::after{
    top: 0;
    transform: rotate(135deg);
}



@media (max-width: 1068px){
    label.logo{
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
}

@media (max-width: 768px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100vw;
        text-align: center;
        background: #ffffff;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul a:hover{
        border: none;
        color: #52057b;
    }
    nav ul.show{
        left: 0;
    }
}

section#home{
    background: #ffffff;
    background-size: cover;    
    height: calc(100vh- 80px);
}
.home-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home-container .home-text{
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-right: 1px solid #cccccc;
    border-radius: 0% 50% 50% 0%;
}
.home-container h1{
    font-size: 50px;
}

.home-container button{
    margin: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px;
    color: #ffffff;
    background-color: #0779e4;
    border: 2px solid #0779e4;
    border-radius: 20px;
    transition: 0.6s;
}

.home-container button:hover{
    color: #0779e4;
    background-color: #ffffff;
    border-color: #0779e4;
}

.home-container img{
    width: 700px;
    height: 650px;
}

@media (max-width: 768px){
    .home-container{
        flex-direction: column;
    }
    .home-container .home-text{
        order: 2;
    }
    .home-container h1{
        font-size: 35px;
    }
    .home-container img{
        width: 400px;
        height: 400px;
    }
}

section#service{
    width: 100%;
    text-align: center;
    padding: 50px;
}

.service-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#service h1{
    padding: 10px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: #0779e4;
}

#service span{
    display: inline-block;
    width: 150px;
    height: 1px;
    border: 1px solid #0779e4;
}

.service-container img{
    width: 700px;
    height: 450px;
}
.service-container .serv-content img{
    width: 80px;
    height: 80px;
}

.service-container .serv-content .serv-text{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    text-align: center;
    color: #0779e4;
    font-family: 'Poppins', sans-serif;
}

.service-container .serv-content .serv-text h2{
    padding: 0px 10px;
}

@media (max-width: 768px){
    .service-container{
        flex-direction: column;
    }
    #service h1{
        font-size: 35px;
    }
    .service-container .serv-imag img{
        width: 500px;
        height: 300px;
        margin-left: 100px;
    }
    .service-container .serv-content .serv-text{
        flex-direction: column;
        width: 400px;
    }
    .service-container .serv-content h2{
        font-size: 22px;
    }
}

section#sub{
    width: 100%;
    background: #0779e4;
    position: absolute;
}

#sub .sub-container{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sub-container .sub-card{
    width: 300px;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
}
.sub-container img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
}
.sub-container h2{
    padding: 10px;
    font-size: 28px;
    color: #ffffff;
}
.sub-container p{
    padding: 0px 10px 15px 10px;
    line-height: 1.1;
    color: #ffffff;
    font: 17px;
    font-family: 'Zilla Slab', serif;
}

@media(max-width: 768px){
    .sub-container{
        flex-direction: column;
    }
    .sub-container .sub-card{
        margin: 20px 0px;
    }
}

.animation{
    background-color: #0779e4;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.square{
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: #ffffff;
}
.line{
    display: flex;
    align-items: center;
}
.work{
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(#0779e4,#ffffff);
    text-align: center;
}
.work h1{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}
.work .work-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
}
.work .work-content .work-text{
    padding: 30px;
    font-size: 20px;
    color: #52057b;
    font-family: 'Oswald', sans-serif;
}
.work .work-content img{
    width: 100px;
    height: 100px;
    margin: 20px 0px;
}
.swiper{
    background-color: #ffffff;
    padding: 100px 50px;
}
.swiper-container {
    width: 80vw;
    height: 500px;
}
.swiper-container .swiper-slide{
    width: 100%;
    padding: 50px;
}
.swiper h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #0779e4;
    text-transform: uppercase;
    text-shadow: #52057b;
}

.teachers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teachers .t-card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
}

.teachers .t-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.teachers .t-card h1{
    font-size: 35px;
    color: #0779e4;
    padding: 20px;
    font-family: 'Merriweather', serif;
}
.teachers .t-card p{
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    word-break: break-all;
}

@media(max-width: 768px){
    .swiper h1{
        font-size: 32px;
    }
    .teachers .t-card h1{
        font-size: 26px;
    }
    .teachers .t-card p{
        font-size: 18px;
    }
}

.course-section{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-section .course-head{
    color: #0779e4;
    text-align: center;
}
.course-head h1{
    font-size: 38px;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 90px;
    margin: 20px auto;
    background-color: #0779e4;
}
.course-section .course-container{
    padding: 60px 120px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-section .course-content{
    width: 25%;
    text-align: center;
    margin-bottom: 30px;
}

.course-section .course-content img{
    width: 120px;
    height: 120px;
}
.course-section .course-content h2{
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px;
    color: #0779e4;
}

@media (max-width: 768px){
    .course-container{
        flex-direction: column;
        align-items: center;
    }
    .course-container .course-content{
        width: 100%;
    }
}

.faq-section{
    background-color: #ffffff;
    padding: 30px 0px 50px 0px;
}

.faq-section h1{
    font-size: 38px;
    text-align: center;
    padding: 30px;
    color: #0779e4;
}

.accordion {
    background-color: #0779e4;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    margin-left: 10%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #0779e4;
  }
  
  .accordion:after {
    content: '\002B';
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p{
      line-height: 1.5;
      font-size: 16px;
  }

  /*Footer*/
footer{
    background-color: #0779e4;
    width: 100%;
} 
.footer-container{
    display: flex;
    justify-content: space-around;
}
.footer-container .box{
    width: 33%;
    padding: 20px;
    text-align: justify;
    color: #ffffff;
    line-height: 1.5;
}
.footer-container .box h2{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.footer-container ul{
    list-style: none;
    text-align: center;
    line-height: 1.5;
}
.footer-container ul a{
    text-decoration: none;
    color: #ffffff;
}
.footer-container form{
    display: flex;
    flex-direction: column;
}
.footer-container form label{
    padding: 5px;
    font-size: 18px;
}
.footer-container form input,textarea{
    margin: 5px 30px;
}
.footer-container form input{
    height: 30px;
}
.footer-container button{
    color: #ffffff;
    margin: 10px 30px;
    height: 30px;
    font-size: 16px;
    background-color: #0779e4;
    border: 2px solid #ffffff;
    transition: 0.3s;
}
.footer-container button:hover{
    color: #0779e4;
    background-color: #ffffff;
}